<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Nickname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Williams</td>
        <td>johnw</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Martha</td>
        <td>Jackson</td>
        <td>marthaj</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jamie</td>
        <td>Stevenson</td>
        <td>jamest</td>
      </tr>
    </tbody>
  </table>